.main
    width: 100vw
    min-height: 100vh
    background-color: red
    display: none
    @media (min-width: 768px)
        display: block
    &--active
        display: block
    @media (min-width: 768px)
        width: calc(100vw - 300px)
        position: absolute
        top: 0
        left: 300px
    @media (min-width: 1280px)
        width: calc(100vw - 400px)
        left: 400px